/**  hide unwanted microformat markup **/
.cmm-geo-tags{
  	display:none!important;
} 

/** keep the markerIcon above the label div **/
img.wml-marker{
	  z-index:  2000 !important;
	  max-width: 1000px;
}

/** fix theme definition for over-wide images **/
.wp-cmm_map-wrap,
.wp-cmm_map-wrap .wml-container .wml-tile img {
		max-width: 100%!important;
}

/** fix for wp-admin **/
body.wp-admin .wp-cmm_map-wrap{
		max-width: inherit !important;
}

/** fullscreen-controls **/
.wml-container .fullscreen-control {
	top: 10px;
	right: 10px;
	position: absolute;
	height: 22px;
}

.wml-button-fullscreen{
		width: 17px;
		height: 17px;
		display: block;
		position: absolute;
		top: 5px;
		left: 5px;
}

.wml-button-enable-fullscreen{
  background: url('../img/enable_fullscreen.png') no-repeat scroll center transparent;
}
.wml-button-disable-fullscreen{
  background: url('../img/disable_fullscreen.png') no-repeat scroll center transparent;
}